/* VARIABLES */

:root{
  /* --main-text-color : #fff; */
  /* --main-bg-color : #fff; */
  /* --main-font-size : 16px; */
  /* --main-font-weight : 400; */
  /* --main-line-height : 1.5; */
}

/* fraunces-900 - latin */
@font-face {
  font-family: "Fraunces";
  font-weight: 900;
  src: url("../fonts/fraunces-v23-latin-900.woff2") format("woff2"), /* Super Modern Browsers */
  url("../fonts/fraunces-v23-latin-900.woff") format("woff");
  
}

/* barlow-regular - latin */
@font-face {
  font-family: "Barlow";
  font-weight: 400;
  src: url("../fonts/barlow-v12-latin-regular.woff2") format("woff2"), 
  url("../fonts/barlow-v12-latin-regular.woff") format("woff");
}
/* barlow-700 - latin */
@font-face {
  font-family: "Barlow";
  font-weight: 700;
  src: url("../fonts/barlow-v12-latin-700.woff2") format("woff2"), 
  url("../fonts/barlow-v12-latin-700.woff") format("woff");
}

/* GENERAL */
*{
  box-sizing: border-box;
}
html{
  height: 100%;
}

img{
  display: block;
  height: auto;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Fraunces",serif;
  /* font-size: 16px; */
  /* font-weight: 400; */
  /* line-height: var(--main-line-height); */
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */

.container{
  width: 100%;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* STICKY-FOOTER */
.site-main{
  flex-grow: 1;
}


.site-header{
  position: relative;
  padding-top: 32px;
  padding-bottom: 40px;
}
.site-header__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-header__button{
  border: none;
  background-color: transparent;
  background-image: url(../images/hamburger.svg);
  width: 16px;
  height: 15px;
}
.site-header__list{
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.site-header__nav{
  display: none;
}
.site-header__item:not(:last-child){
  margin-right: 33px;
}
.site-header__link{
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333D4B;
}
.nav--active{
  position: absolute;
  left: 0px;
  top: 100%;
  display: block;
  width: 100%;
  height: 100vh;
  padding-top: 40px;
  padding-left: 82px;
  padding-right: 83px;
  text-align: center; 
  background: linear-gradient(0deg,rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
}
.site-header__item{
  margin-bottom: 32px;
}
.site-header__list{
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 600px){
  .site-header{
    display: flex;
    align-items: center;
  }
  .site-header__nav{
    padding: 0;
    width: 100%;
    height: 0;
    max-width: 350px;
    position: relative;
    top: 0;
    right: 0;
    background: transparent;
  }
  .site-header__button{
    display: none;
  }
  .site-header__list{
    display: flex;
    align-items: center;
  }
  .site-header__nav{
    display: block;
  }
  
  
}




.hero__wrapper{
  /* width: 100%; */
  padding: 100px 0px;
  background-image: url(../images/coffea-mobile-hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: calc(50%) calc(50%);
  /* background-size: cover; */
  border-radius: 15px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 136px;
}
.hero__wrapper-inner{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 297px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 20px;
  text-align: center;
}
.hero__theme{
  margin: 0;
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 35px;
  line-height: 35px;
  text-align: center;
  color: #FEFCF7;
}
.hero__text{
  margin: 0;
  margin-bottom: 39px;
  font-family: "";
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.hero__link{
  display: inline-block;
  padding: 15px 31px 16px 31px;
  background-color: #0E8784;
  border-radius: 6px;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  text-decoration: none;
}
@media only screen and (min-width: 321px) {
  .hero__wrapper{
    border-radius: 10px;
    /* padding-left: 58px; */
    background-image: url(../images/coffea-mobile-hero-bg.jpg);
    background-repeat: no-repeat;
    text-align: center;
  }
  .hero__wrapper-inner{
    display: flex;
    width: 100%;
    max-width: 390px;
    text-align: center;
  }
  
  
  .hero__theme{
    /* text-align: left; */
  }
  .hero__text{
    /* text-align: left; */
  }
  .hero__link{
    /* margin-right: auto; */
  }
  @media only screen and (min-width: 335px) {
    .hero__wrapper{
      background-image: url(../images/coffea-mobile-hero-bg.jpg);
      background-repeat: no-repeat;
      background-position: calc(50%) calc(50%);
      border-radius: 15px;
    }
    .hero__wrapper-inner{
      max-width: 279px;
      margin: 0;
      margin-right: auto;
      margin-left: auto;
    }
    
  }
  @media only screen and (min-width: 383px) {
    .hero__wrapper{
      border-radius: 10px;
    }
  }
  @media only screen and (min-width: 390px) {
    .hero__wrapper{
      border-radius: 10px;
      background-image: url(../images/coffea-mobile-hero-bg.jpg);
      background-size: cover;
    }
  }
  @media only screen and (min-width: 400px) {
    .hero__wrapper{
      padding-left: 50px;
      background-image: url(../images/hero-bg-tablet.jpg);
      background-repeat: no-repeat;
      text-align: left;
    }
    .hero__wrapper-inner{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 295px;
      margin: 0;
      text-align: left;
    }
    .site-header__link{
      font-family: 'Barlow';
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.923077px;
      text-transform: uppercase;
      color: #83888F;
    }
    
    
    .hero__theme{
      text-align: left;
    }
    .hero__text{
      text-align: left;
    }
    .hero__link{
      margin-right: auto;
    }
    
  }
}
@media only screen and (min-width: 721px){
  .hero__wrapper{
    /* width: 100%; */
    padding-left: 86px;
    background-image: url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero__wrapper-inner{
    max-width: 250px;
    padding: 0;
    margin: 0;
  }
  .hero__theme{
    text-align: left;
  }
  .hero__text{
    text-align: left;
  }
}

@media only screen and (min-width: 1000px) {
  .hero__wrapper{
    width: 100%;
    /* max-width: 445px; */
  }
  .hero__wrapper-inner{
    width: 100%;
    max-width: 250px;
  }
}

.collection__box{
  padding-top: 144px;
  background-image: url(../images/our-collection-bg.png);
  background-repeat: no-repeat;
  background-position: calc(50%) calc(50% - 550px);
  background-size: contain
}

.collection__list{
  margin: 0;
  padding: 0;
  margin-bottom: 120px;
}
.collection__item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  margin-bottom: 48px;
}
.collection__item:last-child{
  margin-bottom: 0;
}
.collection__item::before{
  content: "";
  display: block;
  width: 255px;
  height: 151px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url(../images/gran-ekspresso-1.png);
}
.collection__item:nth-child(2):before{
  background-image: url(../images/planalto-2.png);
}
.collection__item:nth-child(3):before{
  background-image: url(../images/piccollo-3.png);
}
.collection__item:nth-child(4):before{
  margin-top: 17px;
  width: 200px;
  height: 170px;
  background-image: url(../images/danche-4.png);
}
.collection__itembox{
  width: 282px;
}
.collection__theme{
  margin: 0;
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333D4B;
}
.collection__text{
  margin: 0;
  font-family: 'Barlow';
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #333D4B;
}

@media only screen and (min-width: 321px) {
  .collection__list{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .collection__item{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    list-style: none;
  }
}

@media only screen and (min-width: 600px) {
  .collection__box{
    background-position: calc(50%) calc(50% - 410px);
    /* background-image: url(../images/table-collection.svg); */
  }
  .collection__list{
    margin-bottom: 120px;
  }
  .collection__item{
    flex-direction: row;
    margin-bottom: 32px;
  }
  .collection__item:last-child{
    margin-bottom: 0;
  }
  .collection__item::before{
    content: "";
    background-image: url(../images/gran-ekspresso-tablet.png);
    background-size: contain;
    width: 255px;
    height: 193px;
  }
}

@media only screen and (min-width: 1100px) {
  .container{
    padding: 0px 20px;
  }
  .collection__box{
    background-position: calc(50%) calc(50% - 150px);
  }
  .collection__list{
    align-items: center;
    width: 100%;
    margin-bottom: 188px;
    flex-direction: row;
    justify-content: space-between;
  }
  .collection__item{
    
    display: block;
    margin-bottom: 0px;
  }
  .collection__item::before{
    margin-bottom: 72px;
  }
  .collection__item:nth-child(4):before{
    margin-top: 17px;
    width: 256px;
    height: 173px;
    background-image: url(../images/danche-4.png);
  }
}

.why__box{
  position: relative;
  padding-top: 64px;
  padding-right: 24px;
  padding-bottom: 661px;
  padding-left: 24px;
  background-color: #2C343E;
  border-radius: 10px;
}

.why__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 279px;
  margin-bottom: 64px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.why__theme{
  margin: 0;
  margin-bottom: 24px;
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 28px;
  line-height: 28px;
  text-align: center;
  color: #FEFCF7;
}
.why__text{
  margin: 0;
  font-family: 'Barlow';
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.why__list{
  position: absolute;
  top: 400px;
  right: 0;
  left: 0px;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
}
.why__item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 279px;
  margin-bottom: 24px;
  padding-top: 72px;
  padding-right: 12px;
  padding-bottom: 51px;
  padding-left: 12px;
  background-color: #0E8784;
  text-align: center;
  border-radius: 8px;
}
.why__item::before{
  content: "";
  display: block;
  width: 72px;
  height: 72px;
  margin-bottom: 56px;
  background-image: url(../images/best-quality.svg);
  background-repeat: no-repeat;
}
.why__item:nth-child(2):before{
  background-image: url(../images/padarka.svg);
}
.why__item:nth-child(3):before{
  background-image: url(../images/free-shipping.svg);
}
.why__itemcontent{
  max-width: 212px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.why__itemtheme{
  margin: 0;
  margin-bottom: 24px;
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #FEFCF7;
}
.why__itemtext{
  margin: 0;
  font-family: 'Barlow';
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
}
@media only screen and (min-width: 376px) {
  .why__content{
    max-width: 100%;
  }
  .why__list{
    top: 350px;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .why__item{
    width: 100%;
  }
}
@media only screen and (min-width: 700px) {
  .why__box{
    padding-bottom: 368px;
  }
  .why__list{
    top: 330px;
    /* max-width: 100%; */
  }
  .why__item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 573px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 41px 48px 41px 70px;
  }
  .why__item::before{
    margin-bottom: 0;
    width: 70px;
    height: 70px;
    background-size: contain;
    margin-right: 25px;
  }
  .why__itemcontent{
    margin: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 400px;
  }
  .why__itemtheme{
    text-align: left;
  }
  .why__itemtext{
    text-align: left;
  }
}

@media only screen and (min-width: 1300px) {
  .why__box{
    padding-bottom: 317px;
  }
  .why__content{
    max-width: 540px;
  }
  .why__list{
    top: 500px;
    flex-direction: row;
  }
  .why__item{
    top: 200px;
    max-width: 350px;
    flex-direction: column;
    padding-right: 48px;
    padding-left: 48px;
  }
  .why__item::before{
    margin-right: 0;
    margin-bottom: 67px;
  }
  .why__itemtheme{
    text-align: center;
  }
  .why__itemtext{
    text-align: center;
  }
}